In [2]:
from os import listdir
import pandas as pd

In [25]:
df = pd.read_csv('tech_stocknews_2.csv')

# for i in os.listdir():
#     if 'csv' in i: 
#         df = df.append(pd.read_csv(i))
    
# df = df.set_index('date')

In [26]:
df.describe()

       Unnamed: 0 ticker date content time_delta pct_change
count           0      0    0       0          0          0
unique          0      0    0       0          0          0
top           NaN    NaN  NaN     NaN        NaN        NaN
freq          NaN    NaN  NaN     NaN        NaN        NaN

In [5]:
df['norm_pct_change'] = df['pct_change'].div(df['pct_change'].max())
df['norm_time_delta'] = df['time_delta'].div(df['time_delta'].max())

In [6]:
df[['content','norm_pct_change', 'norm_time_delta']]

Empty DataFrame
Columns: [content, norm_pct_change, norm_time_delta]
Index: []

In [7]:
df.content.map(len)
#do i need to add padding to even out the length? YES

Series([], Name: content, dtype: object)

In [8]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer

In [9]:
analyzer = SentimentIntensityAnalyzer()
sentiment = df.content.apply(analyzer.polarity_scores).tolist()

In [10]:
compound = [i['compound'] for i in sentiment]

In [24]:
df['sentiment'] = compound

In [12]:
df.head()

Empty DataFrame
Columns: [Unnamed: 0, ticker, date, content, time_delta, pct_change, norm_pct_change, norm_time_delta, sentiment]
Index: []

In [19]:
from nltk.corpus import stopwords
import string

In [20]:
def clean_doc(content): 
    tokens = content.split()
    table = str.maketrans('','', string.punctuation)
    tokens = [w.translate(table) for w in tokens]
    tokens = [word for word in tokens if word.isalpha()]
    stop_words = set(stopwords.words('english'))
    tokens = [w for w in tokens if not w in stop_words]
    tokens = [word for word in tokens if len(word)>1]
    return tokens

In [21]:
clean_content = [clean_doc(df.content[i]) for i in range(len(df.content))]

In [22]:
#find most common words

In [23]:
clean_df = df 
clean_df['content'] = clean_content
clean_df.head

<bound method NDFrame.head of Empty DataFrame
Columns: [Unnamed: 0, ticker, date, content, time_delta, pct_change, norm_pct_change, norm_time_delta, sentiment]
Index: []>

In [18]:
clean_df['norm_pct_change'] = round(clean_df.norm_pct_change,1)
clean_df['sentiment'] = round(clean_df.sentiment,1)
clean_df.head()

Empty DataFrame
Columns: [Unnamed: 0, ticker, date, content, time_delta, pct_change, norm_pct_change, norm_time_delta, sentiment]
Index: []

In [27]:
clean_df.describe()

       time_delta  pct_change  norm_pct_change  norm_time_delta   sentiment
count  390.000000  390.000000       390.000000       390.000000  390.000000
mean    17.648718   11.346057         0.140000         0.081330    0.618462
std     23.559850   15.105577         0.191436         0.108571    0.527513
min   -140.000000  -13.447437        -0.200000        -0.645161   -1.000000
25%      5.000000    2.521989         0.000000         0.023041    0.400000
50%     20.000000    7.635344         0.100000         0.092166    0.900000
75%     27.000000   15.199204         0.200000         0.124424    1.000000
max    217.000000   80.245453         1.000000         1.000000    1.000000

In [28]:
clean_df.to_csv('clean_tech_stocknews.csv')